@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-manrope);
}

:root{
    /*Cores*/
    --cor-primaria-ciano-claro: hsl(193, 38%, 86%);
    --cor-primaria-verde-neon: hsl(150, 100%, 66%);
    --cor-secundaria-azul-acn: hsl(217, 19%, 38%);
    --cor-secundaria-azul-acn-escuro: hsl(217, 19%, 24%);
    --cor-secundaria-azul-escuro: hsl(218, 23%, 16%);

    /*Fonte*/
    --font-manrope: 'Manrope', sans-serif;
}

.body{
    
}

.principal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria-azul-escuro);
    padding: 0 15rem;
    overflow: hidden;
}

.container{
    max-width: 35rem;
    background-color: var(--cor-secundaria-azul-acn-escuro);
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container__conselho{
    color: var(--cor-primaria-verde-neon);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.container__texto{
    text-align: center;
    color: var(--cor-primaria-ciano-claro);
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.container__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--cor-primaria-verde-neon);
    border: 0;
    border-radius: 4rem;
    margin-top: 2rem;
    margin-bottom: -5rem;
}

.container__botao:hover {
    box-shadow: 5px 5px 33px -2px var(--cor-primaria-verde-neon);
    transition: box-shadow 0.2s;
}

/*mediaquery*/

@media (max-width: 720px){
    .container{
        max-width: 25rem;
    }
}